.header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
}

.header * {
	margin-left: 5px;
	margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 15px;
}

.content {

}

.footer{
 /*float: center;*/
  padding: 6px;
  margin-top: 8px;
  margin-left: 400px;
  font-size: 17px;
}

.search {
	 	background-image: url(/images/voice.png) ;
	    cursor:pointer;
/**/    width: 34px;
/**/    height: 34px;
/**/    border: medium none;
		line-height: 34px;
}

.search_div{
		margin: auto;
		border: 1px solid grey;
		width 50%;
}

.button {
	color: #757575;
	font-family: arial,sans-serif;
	min-width: 54px;
	text-align: center;
	margin: 11px 4px;
	height: 36px;
}

.text{
	  margin-left: 40px;

}